/* ==========  Typography  ========== */
$text-color-primary: #34495e;
/* ==========  Layout  ========== */
$layout-nav-color: rgb(224,224,224);
// Drawer
$layout-drawer-navigation-color: rgba(0, 0, 0, .65);
$layout-drawer-navigation-link-active-background: #757575;
$layout-drawer-navigation-link-active-color: white;
