.mdl-select {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .04em;
  line-height: 1.75rem;
  color: rgba(0, 0, 0, .87);
  padding-left: 0;
  padding-right: 24px;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  max-width: calc(100% - 24px);
  height: 32px;
  transition: border-bottom-color .15s cubic-bezier(.4, 0, 1, 1) 0ms, background-color .15s cubic-bezier(.4, 0, 1, 1) 0ms;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  border-radius: 0;
  background: none;
  background-repeat: no-repeat;
  background-position: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%230' fill-rule='evenodd' opacity='.54' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  font-family: Roboto, sans-serif;
  font-size: .936rem;
  cursor: pointer;
  width: 300px;
  max-width: 100%;
  // for IE10
  &::-ms-expand {
    display: none;
  }
}
