@import '../../material-design-lite/variables';

$ui-select-menu-transition: transform 180ms cubic-bezier(.4, 0, .2, 1) !default;

@mixin mdl-select-dd-arrow-svg-bg_($fill-hex-number: 000000, $opacity: .54) {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23#{$fill-hex-number}%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22#{$opacity}%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E);
}

.mdl-select {
  @include mdl-select-dd-arrow-svg-bg_;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 300px;
  height: 56px;
  border: none;
  border-radius: 4px 4px 0 0;
  outline: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
  overflow: visible;

  &__surface {
    -webkit-font-smoothing: antialiased;

    &::-ms-expand {
      display: none;
    }

    display: flex;
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: 56px;
    padding: 0 26px 0 16px;
    border: none;
    border-radius: 4px 4px 0 0;
    outline: none;
    background-color: rgba(black, .04);
    // Resets for <select> element
    appearance: none;
    overflow: hidden;
  }

  &__selected-text {
    display: flex;
    align-items: center;
    transition:
      mdc-animation-exit-temporary(opacity, 125ms),
      mdc-animation-exit-temporary(transform, 125ms);
    white-space: nowrap;
    overflow: hidden;
  }

  &__bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleY(1);
    transform-origin: bottom;
    transition: $ui-select-menu-transition;
    background-color: rgba(black, .5);

    &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scaleX(0);
      transition: $ui-select-menu-transition;
      opacity: 0;
      content: "";
      z-index: 2;
    }
  }

  .mdl-menu__container {
    max-height: 100%;
    transform-origin: center center;
    z-index: 4; // Should pop up above everything else. temporary-drawer is next highest at 3.
  }

  // Overwirte menu style
  .mdl-menu__container,
  .mdl-menu__outline {
    width: 100% !important;
  }

  .mdl-menu__outline {
    transition: opacity $menu-fade-duration $animation-curve-default;
  }

  .mdl-menu {
    clip: auto !important;
    width: 100%;
    padding: 0;
  }

  .mdl-menu__item {
    &:hover {
      background-color: rgba(black, .04);
    }
    &.active {
      background-color: rgba(black, .4);
      color: white;
    }
  }
}
