.mdl-fileupload {
  position: relative;

  cursor: pointer;
}

.mdl-fileupload__input {
  position: absolute;
  z-index: -1;

  overflow: hidden;

  width: 0.1px;
  height: 0.1px;

  opacity: 0;
}

.mdl-fileupload__content {
  z-index: 1;

  display: flex;

  transition: opacity 0.3s ease;

  align-items: center;
  justify-content: center;
  > i,
  > span {
    vertical-align: middle;
  }
}
