.mdl-textfield {
  /**
   * Textfield with plus
   */
  .mdl-textfield__plus {
    line-height: 27px;

    position: absolute;
    top: 20px;
    right: 0;
    bottom: 20px;
    left: auto;

    overflow: hidden;
    .mdl-button {
      position: static;
      bottom: auto;
    }
  }
  &.is-textarea {
    .mdl-textfield__plus {
      top: auto;
    }
  }
}

.mdl-textfield__input {
  &::placeholder {
    color: $input-text-label-color;
  }
}
