.mdl-data-table {
  &.mdl-data-table {
    width: 100%;
    .mdl-data-table__cell--text-center {
      text-align: center;
    }
    .mdl-data-table__cell--text-left {
      text-align: left;
    }
    .mdl-data-table__cell--text-right {
      text-align: right;
    }
  }
  tr {
    &.selected {
      background-color: #eee;
    }
    td:first-child {
      i {
        cursor: pointer;
      }
    }
  }
  .mdl-no-data-table {
    text-align: center;
  }
  .mdl-data-table__checkbox {
    &:first-of-type,
    &:last-of-type {
      width: 60px;
      padding: 16px;
    }
  }
  .mdl-data-table__row-expand:first-of-type {
    width: 50px;
    padding: 16px;
  }
}

.mdl-data-table__detail-view {
  td:last-of-type {
    padding: 0;

    text-align: left;
  }
}
