.mdl-toast {
  top: 50%;
  bottom: auto;

  min-width: 0;

  transition: opacity .25s;
  transform: none;
  transform: translate(-50%, -50%);

  opacity: 0;
  &.mdl-snackbar--active {
    opacity: 1;
  }
  .mdl-snackbar__text {
    padding: 8px 24px;
  }
  .mdl-snackbar__action {
    display: none;
    visibility: hidden;
  }
  @media(max-width: $snackbar-tablet-breakpoint - 1) {
    top: auto;
    bottom: 0;
    left: 50%;

    width: auto;
    .mdl-snackbar__text {
      padding: 14px;
    }
  }
}
