.mdl-textfield {
  /**
   * Textfield with plus
   */
  .mdl-textfield__plus {
    font-size: 14px;

    position: absolute;
    top: $input-text-vertical-spacing;
    right: 0;
    bottom: $input-text-vertical-spacing;

    display: inline-block;
    padding: $input-text-padding 0;
    overflow: hidden;
    .mdl-button {
      position: static;
      bottom: auto;
    }
  }
  &.is-textarea {
    .mdl-textfield__plus {
      top: auto;
    }
  }
}

.mdl-textfield__input {
  &::placeholder {
    color: $input-text-label-color;
  }
}
