@mixin fix-list {
  // Fix Two line
  .mdl-list__item {
    .mdl-list__item-secondary-content {
      height: 100%;
      .mdl-list__item-secondary-info,
      .mdl-list__item-secondary-action {
        display: block;
      }
    }
  }
  // Fix Three line
  .mdl-list__item--three-line {
    display: block;
    @include clearfix();
    .mdl-list__item-primary-content {
      float: left;
      width: 550px;
    }
    .mdl-list__item-secondary-content {
      float: right;
      margin: 0;
    }
  }
}
