.mdl-pagination {
  text-align: center;
  &.mdl-pagination--left {
    text-align: left;
  }
  &.mdl-pagination--right {
    text-align: right;
  }
  &.mdl-pagination--between {
    @include clearfix();
    .mdl-pagination--record {
      float: left;
    }
    .mdl-pagination--paging {
      float: right;
    }
  }
  &.mdl-pagination--mini {
    .mdl-pagination--paging {
      @include clearfix();
      .mdl-pagination--paging-previous {
        float: left;
      }
      .mdl-pagination--paging-next {
        float: right;
      }
    }
  }
}
