.page--home {
  display: flex;
  flex-wrap: wrap;

  max-width: 1500px;
  padding-top: 32px;

  justify-content: space-around;
  align-items: center;
  p {
    font-size: 16px;
  }
  .banner {
    width: 600px;
    margin: 0 20px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .page--home {
    flex-wrap: nowrap;
    .banner {
      margin-left: 0;
    }
  }
}
